<div class="header">
  <div class="container header__content">
    <div class="left">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/" class="header__logo"> KA </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/">Главная</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/posts">Блог</a>
        </li>
        <li routerLinkActive="active" *ngIf="currentUser.isAdmin">
          <a routerLink="/create-post">Новый Пост</a>
        </li>
      </ul>
    </div>

    <div class="right">
      <ul>
        <mat-icon (click)="openSearchWindow()">search</mat-icon>
        <a *ngIf="!currentUser.token" routerLink="/login">Войти</a>
        <li *ngIf="currentUser.token" class="container__menu">
          <a routerLink="#"> {{ currentUser.username }} </a>
          <div class="menu">
            <a routerLink="/profile">Профиль</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
