<div class="header">
  <div class="container header__content">
    <div class="left">
      <ul>
        <li routerLinkActive="active">
            <a routerLink="/" class="header__logo" >
                KA
            </a>
          </li>
        <li routerLinkActive="active">
          <a routerLink="/">Главная</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/posts">Блог</a>
        </li>
      </ul>
    </div>

    <div class="right">
      <a href="#">Войти</a>
      <a href="#">Регистрация</a>
    </div>
  </div>
</div>
