<div class="register">
  <h2>Войти в свой аккаунт</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="form__control">
      <label>Email</label>
      <input type="text" formControlName="email" placeholder="Введите Email" />
      <div class="form__error" *ngIf="fc?.['email']?.errors && isSubmitted">
        <div *ngIf="fc?.['email']?.errors?.['required']">
          Поле, не должно быть пустым...
        </div>
        <div *ngIf="fc?.['email']?.errors?.['email']">
          Неправильный адрес, электронной почты...
        </div>
      </div>
    </div>

    <div class="form__control">
      <label> Пароль </label>
      <input
        type="text"
        formControlName="password"
        placeholder="Введите Пароль"
      />

      <div class="form__error" *ngIf="fc?.['password']?.errors && isSubmitted">
        <div *ngIf="fc?.['email']?.errors?.['required']">
          Поле, не должно быть пустым...
        </div>
      </div>
    </div>

    <button type="submit">Войти</button>

    <div class="register">
      Новый Пользователь? &nbsp;
      <a routerLink="/register">Зарегистрироваться</a>
    </div>
  </form>
</div>
