@import "./../node_modules/quill/dist/quill.core.css";
@import "./../node_modules/quill/dist/quill.snow.css";
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
}





input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.form__control {
  display: block;
  color: #888;
  margin-bottom: 0.8rem;

  &.invalid {
    color: var(--primary-color);
    input {
      border-color: var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}


